{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://www.itu.int/net4/ITU-T/search/GlobalSearch/RunSearch",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "json=%7B%22Input%22%3A%22ITU-T+L.163%22%2C%22Start%22%3A0%2C%22Rows%22%3A10%2C%22SortBy%22%3A%22RELEVANCE%22%2C%22ExactPhrase%22%3Afalse%2C%22CollectionName%22%3A%22General%22%2C%22CollectionGroup%22%3A%22Recommendations%22%2C%22Sector%22%3A%22t%22%2C%22Criterias%22%3A%5B%7B%22Name%22%3A%22Search+in%22%2C%22Criterias%22%3A%5B%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Name%22%2C%22Target%22%3A%22%2Fname_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http://handle.itu.int/11.1002/1000/13786-en&page=1&position=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Location": [
            "http://handle.itu.int/11.1002/1000/13786-en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 14:59:50 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://handle.itu.int/11.1002/1000/13786-en",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Location": [
            "https://handle.itu.int/11.1002/1000/13786-en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 14:59:51 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://handle.itu.int/11.1002/1000/13786-en",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Content-Type": [
            "text/html;charset=utf-8"
          ],
          "Location": [
            "http://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&lang=en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html><head><title>Handle Redirect</title></head>\n<body><a href=\"http://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&amp;lang=en\">http://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&amp;lang=en</a></body></html>"
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 14:59:52 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/ITU-T/recommendations/rec.aspx?lang=en&rec=13786",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&lang=en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 14:59:52 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/ITU-T/recommendations/rec.aspx?lang=en&rec=15087",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "body": {
        [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/dms_pubrec/itu-t/rec/l/T-REC-L.Sup50-202207-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/dms_pubrec/itu-t/rec/l/T-REC-L.Sup50-202207-I!!SUM-HTM-E.htm"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 14:59:55 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/dms_pubrec/itu-t/rec/l/T-REC-L.Sup50-202207-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Last-Modified": [
            "Wed, 12 Oct 2022 07:32:28 GMT"
          ],
          "Etag": [
            "\"70e9f8c7cded81:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "\u001f‹\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000í½\u0007`\u001cI–%&/mÊ{JõJ×àt¡\b€`\u0013$Ø@\u0010ìÁˆÍæ’ì\u001diG#)«*ÊeVe]f\u0016@Ìí¼÷Ş{ï½÷Ş{ï½÷º;N'÷ßÿ?\\fd\u0001löÎJÚÉ!€ªÈ\u001f?~|\u001f?\"\u001eÏÛEyô\u001b'¿qòxg3úíñ\"o³tŞ¶«íü\u0017­‹ËÏNªe›/Ûí7×«<Ê\u001fŸ}ÔæïÚ»xù0Î³ºÉÛÏ®Šå¬ºj¶w÷îï}d!-³EşÙçù2¯³¶ª\u001d€/Ši]5Õy›~·ªgéîıtë¼(Û¼Îgwøí¶hËüèõz±Èêët;={óÕö›ôU>\u001d[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/dms_pubrec/itu-t/rec/l/T-REC-L.1604-202208-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/dms_pubrec/itu-t/rec/l/T-REC-L.1604-202208-I!!SUM-HTM-E.htm"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 14:59:56 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/dms_pubrec/itu-t/rec/l/T-REC-L.1604-202208-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Last-Modified": [
           [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/dms_pubrec/itu-t/rec/j/T-REC-J.163-200712-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/dms_pubrec/itu-t/rec/j/T-REC-J.163-200712-I!!SUM-HTM-E.htm"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 15:00:01 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/dms_pubrec/itu-t/rec/j/T-REC-J.163-200712-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Last-Modified": [
            [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/dms_pubrec/itu-t/rec/j/T-REC-J.163-200712-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "If-Modified-Since": [
            "Mon, 26 May 2008 14:40:45 GMT"
          ]
        }
      },
      "response": {
        "status": {
          "code": 304,
          "message": "Not Modified"
        },
        "headers": {
          "Etag": [
            "\"f084387b3ebfc81:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 15:00:03 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/dms_pubrec/itu-t/rec/j/T-REC-J.163-200712-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "If-Modified-Since": [
            "Mon, 26 May 2008 14:40:45 GMT"
          ]
        }
      },
      "response": {
        "status": {
          "code": 304,
          "message": "Not Modified"
        },
        "headers": {
          "Etag": [
            "\"f084387b3ebfc81:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 15:00:03 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}