{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://www.itu.int/net4/ITU-T/search/GlobalSearch/RunSearch",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "json=%7B%22Input%22%3A%22ITU-R+RR%22%2C%22Start%22%3A0%2C%22Rows%22%3A10%2C%22SortBy%22%3A%22RELEVANCE%22%2C%22ExactPhrase%22%3Afalse%2C%22CollectionName%22%3A%22General%22%2C%22CollectionGroup%22%3A%22Publications%22%2C%22Sector%22%3A%22r%22%2C%22Criterias%22%3A%5B%7B%22Name%22%3A%22Search+in%22%2C%22Criterias%22%3A%5B%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Name%22%2C%22Target%22%3A%22%2Fname_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%2C%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Short+description%22%2C%22Target%22%3A%22%2Fshort_description_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%2C%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22File+content%22%2C%22Target%22%3A%22%2Ffile%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%5D%2C%22ShowCheckbox%22%3Atrue%2C%22Selected%22%3Afalse%7D%5D%2C%22Topics%22%3A%22%22%2C%22ClientData%22%3A%7B%7D%2C%22Language%22%3A%22en%22%2C%22SearchType%22%3A%22All%22%7D"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"results\":[{\"Identifier\":\"11.1002/pub/814b0c44-en\",\"Title\":\"ITU-R RR (2020): Radio Regulations\",\"Collection\":{\"Name\":\"ITU-R Publications\",\"Title\":\"ITU-R Publications\",\"Description\":\"\",\"Sector\":\"ITU-R\",\"Group\":\"Publications\"},\"Redirection\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F814b0c44-en%3Flocatt%3Did%3A0\\u0026position=10\\u0026page=1\",\"Language\":\"en\",\"Dir\":\"ltr\",\"Properties\":[{\"Title\":\"Publication date\",\"Value\":\"November, 2020\"},{\"Title\":\"Type\",\"Value\":\"Regulatory Publications\"}],\"ExtractFileContent\":\"...a given emission.Unless otherwise specified in an ITU-R Recommendation for the appropriate class of emiss...... \\u042E\\u0416\\u041D\\u042B\\u0419 \\u041F\\u041E\\u041B\\u042E\\u0421P\\u00D4LESUD \\u2013MAP 7Regional and domestic airroute areasLambert azimuthalequal area projectionMA...\",\"Locations\":[],\"TopResult\":false,\"Words\":{\"ITU-R\":true,\"RR\":true},\"Media\":{\"Identifier\":\"11.1002/pub/814b0c44-en\",\"Date\":\"November, 2020\",\"Url\":null,\"Name\":\"ITU-R RR (2020)\",\"ParentHandleID\":\"\",\"ParentName\":null,\"Type\":null,\"ContentText\":null,\"ImageUrl\":null,\"Tags\":[]},\"WordsMissing\":false,\"CollectionTypeCSSClass\":\"label-r-sector\",\"LanguageCSSClass\":\"label-en\"},{\"Identifier\":\"11.1002/pub/80da2b36-en\",\"Title\":\"ITU-R RR (2016): Radio Regulations\",\"Collection\":{\"Name\":\"ITU-R Publications\",\"Title\":\"ITU-R Publications\",\"Description\":\"\",\"Sector\":\"ITU-R\",\"Group\":\"Publications\"},\"Redirection\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F80da2b36-en%3Flocatt%3Did%3A0\\u0026position=9\\u0026page=1\",\"Language\":\"en\",\"Dir\":\"ltr\",\"Properties\":[{\"Title\":\"Publication date\",\"Value\":\"November, 2016\"},{\"Title\":\"Type\",\"Value\":\"Regulatory Publications\"}],\"ExtractFileContent\":\"\",\"Locations\":[{\"Id\":\"1\",\"Type\":\"zip\",\"Href\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F80da2b36-en%3Flocatt%3Did%3A1%26auth\",\"RawHref\":\"https://www.itu.int/opb/ties/download.aspx?file=R-REG-RR-2016-ZPF-E.zip\",\"Icon\":\"zip-icon.png\"},{\"Id\":\"2\",\"Type\":\"zip\",\"Href\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F80da2b36-en%3Flocatt%3Did%3A2%26auth\",\"RawHref\":\"https://www.itu.int/opb/ties/download.aspx?file=R-REG-RR-2016-ZIP-E.zip\",\"Icon\":\"zip-icon.png\"}],\"TopResult\":false,\"Words\":{\"ITU-R\":true,\"RR\":true},\"Media\":{\"Identifier\":\"11.1002/pub/80da2b36-en\",\"Date\":\"November, 2016\",\"Url\":null,\"Name\":\"ITU-R RR (2016)\",\"ParentHandleID[...]
