{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://www.itu.int/net4/ITU-T/search/GlobalSearch/RunSearch",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "json=%7B%22Input%22%3A%22ITU-R+RR+%282020%29%22%2C%22Start%22%3A0%2C%22Rows%22%3A10%2C%22SortBy%22%3A%22RELEVANCE%22%2C%22ExactPhrase%22%3Afalse%2C%22CollectionName%22%3A%22General%22%2C%22CollectionGroup%22%3A%22Publications%22%2C%22Sector%22%3A%22r%22%2C%22Criterias%22%3A%5B%7B%22Name%22%3A%22Search+in%22%2C%22Criterias%22%3A%5B%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Name%22%2C%22Target%22%3A%22%2Fname_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%2C%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Short+description%22%2C%22Target%22%3A%22%2Fshort_description_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%2C%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22File+content%22%2C%22Target%22%3A%22%2Ffile%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%5D%2C%22ShowCheckbox%22%3Atrue%2C%22Selected%22%3Afalse%7D%5D%2C%22Topics%22%3A%22%22%2C%22ClientData%22%3A%7B%7D%2C%22Language%22%3A%22en%22%2C%22SearchType%22%3A%22All%22%7D"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"results\":[{\"Identifier\":\"11.1002/pub/814b0c44-en\",\"Title\":\"ITU-R RR (2020): Radio Regulations\",\"Collection\":{\"Name\":\"ITU-R Publications\",\"Title\":\"ITU-R Publications\",\"Description\":\"\",\"Sector\":\"ITU-R\",\"Group\":\"Publications\"},\"Redirection\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F814b0c44-en%3Flocatt%3Did%3A0\\u0026position=10\\u0026page=1\",\"Language\":\"en\",\"Dir\":\"ltr\",\"Properties\":[{\"Title\":\"Publication date\",\"Value\":\"November, 2020\"},{\"Title\":\"Type\",\"Value\":\"Regulatory Publications\"}],\"ExtractFileContent\":\"...a given emission.Unless otherwise specified in an ITU-R Recommendation for the appropriate class of emiss...... \\u042E\\u0416\\u041D\\u042B\\u0419 \\u041F\\u041E\\u041B\\u042E\\u0421P\\u00D4LESUD \\u2013MAP 7Regional and domestic airroute areasLambert azimuthalequal area projectionMA...\",\"Locations\":[],\"TopResult\":false,\"Words\":{\"ITU-R\":true,\"RR\":true,\"(2020)\":true},\"Media\":{\"Identifier\":\"11.1002/pub/814b0c44-en\",\"Date\":\"November, 2020\",\"Url\":null,\"Name\":\"ITU-R RR (2020)\",\"ParentHandleID\":\"\",\"ParentName\":null,\"Type\":null,\"ContentText\":null,\"ImageUrl\":null,\"Tags\":[]},\"WordsMissing\":false,\"CollectionTypeCSSClass\":\"label-r-sector\",\"LanguageCSSClass\":\"label-en\"},{\"Identifier\":\"11.1002/pub/8063030b-en\",\"Title\":\"ITU-R RR (2012): Radio Regulations\",\"Collection\":{\"Name\":\"ITU-R Publications\",\"Title\":\"ITU-R Publications\",\"Description\":\"\",\"Sector\":\"ITU-R\",\"Group\":\"Publications\"},\"Redirection\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F8063030b-en%3Flocatt%3Did%3A0\\u0026position=9\\u0026page=1\",\"Language\":\"en\",\"Dir\":\"ltr\",\"Properties\":[{\"Title\":\"Publication date\",\"Value\":\"November, 2012\"},{\"Title\":\"Type\",\"Value\":\"Regulatory Publications\"}],\"ExtractFileContent\":\"... methods and interference criteria recommended by ITU-R for sharing frequency bands between space radioco......[\\r\\n  \\u0022RR2012-VolIII-e.docx33Radio RegulationsResolutions and RecommendationsEdition of 2012\\u2013 3 \\u2013\\u00A9  ITU...\",\"Locations\":[{\"Id\":\"1\",\"Type\":\"zip\",\"Href\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F8063030b-en%3Flocatt%3Did%3A1%26auth\",\"RawHref\":\"http://www.itu.int/dms_pub/itu-r/opb/reg/R-REG-RR-2012-ZPF-E.zip\",\"Icon\":\"zip-icon.png\"},{\"Id\":\"2\",\"Type\":\"zip\",\"Href\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F8063030b-en%3Flocatt%3Did%3A2%26auth\",\"RawHref\":\"http://www.itu.int/dms_pub/itu-r/opb/reg/R-REG-RR-2012-ZIP-E.zip\",\"Icon\":\"zip-icon.png\"}],\"TopResult\":false,\"Words\":{\"ITU-R\":true,\"RR\":true,\"(2020)\":true},\"Media\":{\"Identifier\":\"11.1002/pub/8063030b-en\",\"Date\":\"November, 2012\",\"Url\":null,\"Name\":\"ITU-R RR (2012)\",\"Paren[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http://handle.itu.int/11.1002/pub/814b0c44-en?locatt=id:0&page=1&position=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Location": [
            "http://handle.itu.int/11.1002/pub/814b0c44-en?locatt=id:0"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Thu, 22 Jun 2023 16:17:08 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://handle.itu.int/11.1002/pub/814b0c44-en?locatt=id:0",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Location": [
            "https://handle.itu.int/11.1002/pub/814b0c44-en?locatt=id:0"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
        }
      },
      "recorded_at": "Thu, 22 Jun 2023 16:17:08 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://handle.itu.int/11.1002/pub/814b0c44-en?locatt=id:0",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Content-Type": [
            "text/html;charset=utf-8"
          ],
          "Location": [
            "http://www.itu.int/pub/R-REG-RR-2020"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html><head><title>Handle Redirect</title></head>\n<body><a href=\"http://www.itu.int/pub/R-REG-RR-2020\">http://www.itu.int/pub/R-REG-RR-2020</a></body></html>"
        }
      },
      "recorded_at": "Thu, 22 Jun 2023 16:17:10 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/pub/R-REG-RR-2020",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/pub/R-REG-RR-2020"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Thu, 22 Jun 2023 16:17:10 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/pub/R-REG-RR-2020",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "X-Sharepointhealthscore": [
            "0"
          ],
          "Sprequestguid": [
            "2161bfa0-663c-1070-037c-e288693b161c"
          ],
          "Microsoftsharepointteamservices": [
            "16.0.0.10393"
          ],
          "X-Ms-Invokeapp": [
            "1; RequireReadOnly"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "\u001f‹\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000í½\u0007`\u001cI–%&/mÊ{JõJ×àt¡\b€`\u0013$Ø@\u0010ìÁˆÍæ’ì\u001diG#)«*ÊeVe]f\u0016@Ìí¼÷Ş{ï½÷Ş{ï½÷º;N'÷ßÿ?\\fd\u0001löÎJÚÉ!€ªÈ\u001f?~|\u001f?\"~ãä7N\u001eÿ®ÛÛéÙ›¯Ò6_¬Ê¬ÍÓ¦Íê¶I\u001f¥e¶¼Xg\u0017yzöb–¯òå,_¶éööQü5ú¾qß>ıòäÍïóò4ıö›/ÓGçí¢LgEıÙGe[Ä ?û(_nõú#ú:¥çñ<Ïfi1ûì£i[îìüşß¦?wÍ—xĞåãEŞfé2[äŸ}tQU\u0017e¾İ\u0014m¾}™×Å[...]
