---
http_interactions:
- request:
    method: post
    uri: https://www.itu.int/net4/ITU-T/search/GlobalSearch/Search
    body:
      encoding: UTF-8
      string: '{"json":"{\"Input\":\"ITU-T G.Suppl.47\",\"Start\":0,\"Rows\":10,\"SortBy\":\"RELEVANCE\",\"ExactPhrase\":false,\"CollectionName\":\"General\",\"CollectionGroup\":\"Recommendations\",\"Sector\":\"t\",\"Criterias\":[{\"Name\":\"Search
        in\",\"Criterias\":[{\"Selected\":false,\"Value\":\"\",\"Label\":\"Name\",\"Target\":\"\\\\/name_s\",\"TypeName\":\"CHECKBOX\",\"GetCriteriaType\":0},{\"Selected\":false,\"Value\":\"\",\"Label\":\"Short
        description\",\"Target\":\"\\\\/short_description_s\",\"TypeName\":\"CHECKBOX\",\"GetCriteriaType\":0},{\"Selected\":false,\"Value\":\"\",\"Label\":\"File
        content\",\"Target\":\"\\\\/file\",\"TypeName\":\"CHECKBOX\",\"GetCriteriaType\":0}],\"ShowCheckbox\":true,\"Selected\":false}],\"Topics\":\"\",\"ClientData\":{},\"Language\":\"en\",\"SearchType\":\"All\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Microsoftofficewebserver:
      - 5.0_Pub
    body:
      encoding: UTF-8
      string: '{"results":[{"Identifier":"11.1002/1000/14978-en","Title":"ITU-T G
        Suppl. 75 (12/2021): Supplement on 5G small cell backhaul/midhaul over TDM-PON","Collection":{"Name":"ITU-T
        Recommendations","Title":"ITU-T Recommendations","Description":"","Sector":"ITU-T","Group":"Recommendations"},"Redirection":"https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2F1000%2F14978-en\u0026position=10\u0026page=1","Language":"en","Dir":"ltr","Properties":[{"Title":"Publication
        date","Value":"February, 2022"}],"ExtractFileContent":"...[\r\n  \"    INTERNATIONAL
        TELECOMMUNICATION UNION   ITU-T  Series G TELECOMMUNICATION STANDARDIZATION  SECT...","Locations":[{"Id":"1","Type":"pdf","Href":"https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2F1000%2F14978-en%3Flocatt%3Did%3A1%26auth","RawHref":"https://www.itu.int/rec/dologin_pub.asp?lang=e\u0026id=T-REC-G.Sup75-202112-P!!PDF-E\u0026type=items","Icon":"pdf-icon.png"},{"Id":"2","Type":"doc","Href":"https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2F1000%2F14978-en%3Flocatt%3Did%3A2%26auth","RawHref":"https://www.itu.int/rec/dologin_pub.asp?lang=e\u0026id=T-REC-G.Sup75-202112-P!!MSW-E\u0026type=items","Icon":"doc-icon.png"}],"TopResult":false,"Words":{"ITU-T":true,"G.Suppl.47":true},"Media":{"Identifier":"11.1002/1000/14978-en","Date":"February,
        2022","Url":null,"Name":"ITU-T G Suppl. 75 (12/2021)","ParentHandleID":"","ParentName":null,"Type":null,"ContentText":null,"ImageUrl":null,"Tags":[]},"WordsMissing":false,"CollectionTypeCSSClass":"label-t-sector","LanguageCSSClass":"label-en"},{"Identifier":"11.1002/1000/14892-en","Title":"ITU-T
        G.9803 (2018) Amd. 2 (02/2022): Radio over fibre systems - Amendment 2","Collection":{"Name":"ITU-T
        Recommendations","Title":"ITU-T Recommendations","Description":"","Sector":"ITU-T","Group":"Recommendations"},"Redirection":"https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2F1000%2F14892-en\u0026position=9\u0026page=1","Language":"en","Dir":"ltr","Properties":[{"Title"[...]
