{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://www.itu.int/net4/ITU-T/search/GlobalSearch/RunSearch",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "json=%7B%22Input%22%3A%22ITU-T+Y.3500%22%2C%22Start%22%3A0%2C%22Rows%22%3A10%2C%22SortBy%22%3A%22RELEVANCE%22%2C%22ExactPhrase%22%3Afalse%2C%22CollectionName%22%3A%22General%22%2C%22CollectionGroup%22%3A%22Recommendations%22%2C%22Sector%22%3A%22t%22%2C%22Criterias%22%3A%5B%7B%22Name%22%3A%22Search+in%22%2C%22Criterias%22%3A%5B%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Name%22%2C%22Target%22%3A%22%2Fname_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http://handle.itu.int/11.1002/1000/12210-en&page=1&position=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Location": [
            "http://handle.itu.int/11.1002/1000/12210-en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 02:31:32 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://handle.itu.int/11.1002/1000/12210-en",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Location": [
            "https://handle.itu.int/11.1002/1000/12210-en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 02:31:32 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://handle.itu.int/11.1002/1000/12210-en",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Content-Type": [
            "text/html;charset=utf-8"
          ],
          "Location": [
            "http://www.itu.int/ITU-T/recommendations/rec.aspx?rec=12210&lang=en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html><head><title>Handle Redirect</title></head>\n<body><a href=\"http://www.itu.int/ITU-T/recommendations/rec.aspx?rec=12210&amp;lang=en\">http://www.itu.int/ITU-T/recommendations/rec.aspx?rec=12210&amp;lang=en</a></body></html>"
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 02:31:33 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/ITU-T/recommendations/rec.aspx?lang=en&rec=12210",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=12210&lang=en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 02:31:33 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/ITU-T/recommendations/rec.aspx?lang=en&rec=12210",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "body": {
        [...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/dms_pubrec/itu-t/rec/y/T-REC-Y.3500-201408-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/dms_pubrec/itu-t/rec/y/T-REC-Y.3500-201408-I!!SUM-HTM-E.htm"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Sun, 09 Apr 2023 02:31:36 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/dms_pubrec/itu-t/rec/y/T-REC-Y.3500-201408-I!!SUM-HTM-E.htm",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Last-Modified": [
            "Wed, 10 Sep 2014 12:23:54 GMT"
          ],
          "Etag": [
            "\"2f434316f2cccf1:0\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "\u001f‹\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000í½\u0007`\u001cI–%&/mÊ{JõJ×àt¡\b€`\u0013$Ø@\u0010ìÁˆÍæ’ì\u001diG#)«*ÊeVe]f\u0016@Ìí¼÷Ş{ï½÷Ş{ï½÷º;N'÷ßÿ?\\fd\u0001löÎJÚÉ!€ªÈ\u001f?~|\u001f?\"\u001eÏÛEyô\u001b'¿qòxg3úíñ\"o³tŞ¶«íü\u0017­‹ËÏNªe›/Ûí7×«<Ê\u001fŸ}ÔæïÚ»xù0Î³ºÉÛÏ®Šå¬ºj¶w÷îï}d!-³EşÙçù2¯³¶ª\u001d€/Ši]5Õy›~·ªgéîıtë¼(Û¼Îgwøí¶hËüèõz±Èêët;={óÕö›ôU>\u001[...]
