{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://www.itu.int/net4/ITU-T/search/GlobalSearch/RunSearch",
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "json=%7B%22Input%22%3A%22ITU-T+OB.1096+-+15.III.2016%22%2C%22Start%22%3A0%2C%22Rows%22%3A10%2C%22SortBy%22%3A%22RELEVANCE%22%2C%22ExactPhrase%22%3Afalse%2C%22CollectionName%22%3A%22General%22%2C%22CollectionGroup%22%3A%22Publications%22%2C%22Sector%22%3A%22t%22%2C%22Criterias%22%3A%5B%7B%22Name%22%3A%22Search+in%22%2C%22Criterias%22%3A%5B%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Name%22%2C%22Target%22%3A%22%2Fname_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%2C%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22Short+description%22%2C%22Target%22%3A%22%2Fshort_description_s%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%2C%7B%22Selected%22%3Afalse%2C%22Value%22%3A%22%22%2C%22Label%22%3A%22File+content%22%2C%22Target%22%3A%22%2Ffile%22%2C%22TypeName%22%3A%22CHECKBOX%22%2C%22GetCriteriaType%22%3A0%7D%5D%2C%22ShowCheckbox%22%3Atrue%2C%22Selected%22%3Afalse%7D%5D%2C%22Topics%22%3A%22%22%2C%22ClientData%22%3A%7B%7D%2C%22Language%22%3A%22en%22%2C%22SearchType%22%3A%22All%22%7D"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"results\":[{\"Identifier\":\"11.1002/pub/80d5e36a-en\",\"Title\":\"ITU-T OB.1096 (2016): Operational Bulletin No. 1096 (15.III.2016)\",\"Collection\":{\"Name\":\"ITU-T Publications\",\"Title\":\"ITU-T Publications\",\"Description\":\"\",\"Sector\":\"ITU-T\",\"Group\":\"Publications\"},\"Redirection\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F80d5e36a-en%3Flocatt%3Did%3A0\\u0026position=10\\u0026page=1\",\"Language\":\"en\",\"Dir\":\"ltr\",\"Properties\":[{\"Title\":\"Publication date\",\"Value\":\"March, 2016\"},{\"Title\":\"Type\",\"Value\":\"Service Publications\"}],\"ExtractFileContent\":\"...  \\u00221096-E.docxITU Operational Bulletinwww.itu.int/itu-t/bulletinNo. 109615.III.2016(Information received ......[\\r\\n  \\u00221096-E.docxITU Operational Bulletinwww.itu.int/itu-t/bulletinNo. 109615.III.2016(Information re......ational Bulletinwww.itu.int/itu-t/bulletinNo. 109615.III.2016(Information received by 2 March 2016)  ISSN 1564-...\",\"Locations\":[{\"Id\":\"1\",\"Type\":\"zip\",\"Href\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F80d5e36a-en%3Flocatt%3Did%3A1%26auth\",\"RawHref\":\"http://www.itu.int/dms_pub/itu-t/opb/sp/T-SP-OB.1096-2016-OAS-ZIP-E.zip\",\"Icon\":\"zip-icon.png\"},{\"Id\":\"2\",\"Type\":\"pdf\",\"Href\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F80d5e36a-en%3Flocatt%3Did%3A2%26auth\",\"RawHref\":\"http://www.itu.int/dms_pub/itu-t/opb/sp/T-SP-OB.1096-2016-OAS-PDF-E.pdf\",\"Icon\":\"pdf-icon.png\"}],\"TopResult\":false,\"Words\":{\"ITU-T\":true,\"OB.1096\":true,\"-\":true,\"15.III.2016\":true},\"Media\":{\"Identifier\":\"11.1002/pub/80d5e36a-en\",\"Date\":\"March, 2016\",\"Url\":null,\"Name\":\"ITU-T OB.1096 (2016)\",\"ParentHandleID\":\"\",\"ParentName\":null,\"Type\":null,\"ContentText\":null,\"ImageUrl\":null,\"Tags\":[]},\"WordsMissing\":false,\"CollectionTypeCSSClass\":\"label-t-sector\",\"LanguageCSSClass\":\"label-en\"},{\"Identifier\":\"11.1002/pub/81f011b0-en\",\"Title\":\"ITU-T OB.1266 (2023): Operational Bulletin No. 1266 (15.IV.2023)\",\"Collection\":{\"Name\":\"ITU-T Publications\",\"Title\":\"ITU-T Publications\",\"Description\":\"\",\"Sector\":\"ITU-T\",\"Group\":\"Publications\"},\"Redirection\":\"/net4/ITU-T/search/api/redirection?dest=http%3A%2F%2Fhandle.itu.int%2F11.1002%2Fpub%2F81f011b0-en%3Flocatt%3Did%3A0\\u0026position=9\\u0026page=1\",\"Language\":\"en\",\"Dir\":\"ltr\",\"Properti[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/net4/ITU-T/search/api/redirection?dest=http://handle.itu.int/11.1002/pub/80d5e36a-en?locatt=id:0&page=1&position=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Location": [
            "http://handle.itu.int/11.1002/pub/80d5e36a-en?locatt=id:0"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Thu, 25 May 2023 04:29:26 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://handle.itu.int/11.1002/pub/80d5e36a-en?locatt=id:0",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Content-Type": [
            "text/html"
          ],
          "Location": [
            "https://handle.itu.int/11.1002/pub/80d5e36a-en?locatt=id:0"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
        }
      },
      "recorded_at": "Thu, 25 May 2023 04:29:26 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://handle.itu.int/11.1002/pub/80d5e36a-en?locatt=id:0",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Content-Type": [
            "text/html;charset=utf-8"
          ],
          "Location": [
            "http://www.itu.int/pub/T-SP-OB.1096-2016"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html><head><title>Handle Redirect</title></head>\n<body><a href=\"http://www.itu.int/pub/T-SP-OB.1096-2016\">http://www.itu.int/pub/T-SP-OB.1096-2016</a></body></html>"
        }
      },
      "recorded_at": "Thu, 25 May 2023 04:29:27 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://www.itu.int/pub/T-SP-OB.1096-2016",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "headers": {
          "Location": [
            "https://www.itu.int/pub/T-SP-OB.1096-2016"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        }
      },
      "recorded_at": "Thu, 25 May 2023 04:29:27 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.itu.int/pub/T-SP-OB.1096-2016",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "X-Sharepointhealthscore": [
            "0"
          ],
          "Sprequestguid": [
            "8135b6a0-963b-1070-387e-c9957305ed46"
          ],
          "Microsoftsharepointteamservices": [
            "16.0.0.10393"
          ],
          "X-Ms-Invokeapp": [
            "1; RequireReadOnly"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "\u001f‹\b\u0000\u0000\u0000\u0000\u0000\u0004\u0000í½\u0007`\u001cI–%&/mÊ{JõJ×àt¡\b€`\u0013$Ø@\u0010ìÁˆÍæ’ì\u001diG#)«*ÊeVe]f\u0016@Ìí¼÷Ş{ï½÷Ş{ï½÷º;N'÷ßÿ?\\fd\u0001löÎJÚÉ!€ªÈ\u001f?~|\u001f?\"~ãä7N\u001eÿ®ÛÛéÙ›¯Ò6_¬Ê¬ÍÓ¦Íê¶I\u001f¥e¶¼Xg\u0017yzöb–¯òå,_¶éööQü5ú¾qß>ıòäÍïóò4ıö›/ÓGçí¢LgEıÙGe[Ä ?û(_nõú#ú:¥çñ<Ïfi1ûì£i[îìüşß¦?wÍ—xĞåãEŞfé2[äŸ}tQU\u0017e¾İ\u0014m¾}™×Å[...]
